* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    max-width: 100%;
}


html,
body {
    display: flex;
    flex-direction: column;
    background-color: #131316;
    height: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}

.full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main {
    padding-top: 136px;
}

.main__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#root {
    flex: 1;
    z-index: 1;
}

.link {
    color: #4c4cff;
    text-decoration: none;
}

.wrap {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    text-align: center;
}

#modals {
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
}